<% include ./partials/header %>
<h3 class="center">Buy Stock</h4>
<div class="container">
    <div class = "cont">
        <table>
        <tr>
            <th><strong>COMPANY NAME</strong></th>
        
            <th><strong>STOCK SYMBOL</strong></th>
        
            <th><strong>STOCK PRICE</strong></th>
            <th>BUY</th>
            <th>COST</th>
        </tr>
      <% watchlist.forEach(function(watchlist){ %> 
      
      <% var symbol = watchlist.stock_symbol.toUpperCase()%>
      <% if (currentUser.username == watchlist.user.username && sb[symbol]) { %>
      <% let currentPrice = sb[symbol].quote.latestPrice%>
      <tr>
        <td><%=watchlist.company_name%></td>
        
        <td><%=symbol%></td>
        
        <td><a class="btn btn-default btn-sm">$<span id="<%=symbol%>"><%=currentPrice%></span></a></td>
        
        <td><form action = "game" method = "POST" class="form-inline">
          <input type = "hidden" name= "stock_name" value = <%=watchlist.stock_symbol%> >
          <input type = "hidden" name= "buying_price" value = <%=parseFloat(currentPrice)%> >
          <input type = "number" name = "quantity" placeholder = "qty" class="quantity" id = "<%=symbol.toLowerCase()%>" style="width:60px;" required>
          <button type ="submit" class="btn btn-primary btn-sm">BUY</button>
      </form></td>

    
        <td><span id="total<%=symbol%>"></span></td>
      
        </tr>
    
      
      <%}}); %>
    </table>
      <a class="btn btn-primary btn-sm" href="/watchlist">Add Watchlist</a>
      <a href="/main">Go Back</a>

    </div>
    </div>
      
      
      <h3 class="center">Current Stock Portfolio</h4>
      
<div class="container">
        <div class = "cont">
    <table>
        <tr>
            <th><strong>COMPANY SYMBOL</strong></th>
        
            <th><strong>QUANTITY</strong></th>
        
            <th><strong>CURRENT VALUE</strong></th>
        
            <th><strong>BUYING COST</strong></th>
        
            <th><strong>PROFIT / LOSS</strong></th>
        
            <th><strong>BOUGHT ON</strong></th>
            <th>SELL</th>
        </tr>
    
      <%var total_value=0;%>
      <%var total_cost=0;%>
      <% game.forEach(function(game){ %> 

        <% if (currentUser.username == game.user.username && game.own_stock === true) { %>
     
      <%var game_symbol = game.stock_name.toUpperCase()%>
      
      <%var current_value = (parseFloat((sb[game_symbol].quote.latestPrice)*game.quantity))%>
      <%var buyingPrice = (parseFloat(game.buying_price*game.quantity))%>
      
      <%total_value = total_value+current_value%>
      <%total_cost = total_cost+buyingPrice%>
      <tr>
          <td><%=game_symbol%></td>
      
      <td><%=game.quantity.toLocaleString()%></td>
      
      <td>$<%=current_value.toLocaleString()%></td>
      
      <td>$<%=buyingPrice.toLocaleString()%></td>
      
      <td>$<%=(current_value-buyingPrice).toLocaleString()%></td>
      
      <% var date =  new Date(game.created)%> 
      <td><%=date.toLocaleString('en-US')%></td>
      

            <td><form action = "/game/<%=game._id %>" method = "POST" class="form-inline">
                    
                    <input type = "hidden" name= "stock[own_stock]" value = false >
                    <input type = "hidden" name= "stock[selling_price]" value = <%=parseFloat(sb[game_symbol].quote.latestPrice)%> >
                    <button type ="submit" class="btn btn-warning btn-sm">Sell</button>
                </form></td>

            </tr>
      <% } %>

      <%});%>
    </table>
      <strong>CURRENT VALUE: <a class="btn btn-default btn-sm">$<%=total_value.toLocaleString()%></a>   TOTAL COST: <a class="btn btn-default btn-sm">$<%=total_cost.toLocaleString()%></a>   TOTAL PROFIT/LOSS <a class="btn btn-default btn-sm">$<%=(total_value-total_cost).toLocaleString()%></a></strong>
    </div>
    </div>

      <h3 class="center">Sold Stocks</h4>
      
<div class="container">
        <div class = "cont">
   <table>
       <tr>
            <th><strong>COMPANY SYMBOL</strong></th>
        
            <th><strong>QUANTITY</strong></th>
        
            <th><strong>SELLING PRICE</strong></th>
       
            <th><strong>BUYING COST</strong></th>
      
            <th><strong>PROFIT / LOSS</strong></th>

            <th>DELETE RECORD</th>
        </tr>
    
      <%var total_value=0;%>
      <%var total_cost=0;%>
      <% game.forEach(function(game){ %> 

        <% if (currentUser.username == game.user.username && game.own_stock === false) { %>
      <tr>
      <%var game_symbol = game.stock_name.toUpperCase()%>
      
      <%var soldPrice = (game.selling_price*game.quantity)%>
      <%var buyingPrice =(game.buying_price*game.quantity)%>
      
      <%total_value = total_value+soldPrice%>
      <%total_cost = total_cost+buyingPrice%>
      
      <td><%=game_symbol%></td>
      
      <td><%=game.quantity.toLocaleString()%></td>
      
      <td>$<%=(game.selling_price*game.quantity).toLocaleString()%></td>
      
      <td>$<%=buyingPrice.toLocaleString()%></td>
     
      <td>$<%=(soldPrice-buyingPrice).toLocaleString()%></td>
      
            <td><form action = "/game/<%=game._id %>/delete" method = "POST" class="form-inline">
                <button type ="submit" class="btn btn-danger btn-sm">Delete Record</button>
            </form></td>

        </tr>
      <% } %>

      <%});%>
    </table>
      <strong>TOTAT SELL: <a class="btn btn-default btn-sm">$<%=total_value.toLocaleString()%></a>   TOTAL BUY: <a class="btn btn-default btn-sm">$<%=total_cost.toLocaleString()%></a>   TOTAL PROFIT/LOSS <a class="btn btn-default btn-sm">$<%=(total_value-total_cost).toLocaleString()%></a></strong>
    
      
    </div>
</div>
 
 <script src="scripts/game.js"></script>

<% include ./partials/footer %>
